* {
    margin: 0;
}

img {
    height: 100%;
}

.pageContainer {
    display: flex;
    height: 100%;
    width: 1440px;
    border: 2px solid black;
}

.image {
    background-image: url('IMG_0189.jpg');
    width: 33%;
    height: 1024px;
    align-content: space-between;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credit {
    color: white;
    display: flex;
    justify-content: center;
}

.logoContainer {
    height: 150px;
    width: auto;
    background-color: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.formSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 231, 231);
    padding-left: 30px;
}

.blurb {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.blurb>div {
    display: flex;
    flex-direction: column;
}
.formEntry {
    display: flex;
    flex-direction: column;
}

.formEntry>div {
    display: flex;
}

.formEntry>div>div {
    display: flex;
    flex-direction: column;
}
#logoText {
    color: white;
}
