* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

img {
    height: 100%;
}

.pageContainer {
    display: flex;
    height: 100%;
    width: 1440px;
    border: 2px solid black;
}

.image {
    background-image: url('IMG_0189.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33.33%;
    height: 1024px;
    align-content: space-between;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credit {
    color: white;
    display: flex;
    justify-content: center;
}

.logoContainer {
    height: 150px;
    width: auto;
    background-color: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: initial;
}

.credit>p {
    font-weight: 300;
    padding-bottom: 15px;
}

.formSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 241);
    width: 66.66%;
}

.formSection>div {
    padding-left: 50px;
}

.blurb {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-right: 180px;
}

.blurb>div {
    display: flex;
    flex-direction: column;
}
.formEntry {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding-bottom: 25px;
    box-shadow: 0px 4px 6px #a0a5a7;
}

.formEntry>div {
    display: flex;
    gap: 50px;
}

.formEntry>div>div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
}

p {
    font-size: x-large;
    font-weight: bold;
}

.formFooter {
    padding-top: 25px;
    padding-bottom: 15px;
}

.logIn>p {
    font-size: medium;
    font-weight: light;
}
.logo>p {
    font-family: Norse-Bold;
    font-size: 48px;
}
#logoText {
    color: white;
}

#lets {
    margin-top: 10px;
}

span {
    font-style: italic;
}

button {
    padding: 10px;
    border: 2px hidden;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    background-color: rgb(67, 141, 67);
    color: white;
    font-weight: bold;
}

input {
    width: 250px;
    border: 1px solid #dfd9d9;
    border-radius: 4px;
    height: 25px;
}

